*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.pag{
    text-align: center;
    background-color: #FFCC57;

}
.pag nav{
    margin-top: 10px;
    padding-bottom: 20px;
   
}
.pag nav a{
    color: black;
     margin-left: 50px;
     text-decoration: none;
     font-size: large;
}
.gamma h1{
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
    padding-top: 30px;
}
.gfg{
    color: #6B6B6B;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    
}
.gamma p{
    color: #6B6B6B;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-left: 200px;
}
.gamma img{
    margin-left: 200px;
    margin-top: 20px;
}
.gamma{
width: 100%;
height: 100vh;
    background-color: #FEFCD6;
}
.unorderlist3{
    font-family: 'Poppins', sans-serif;
    margin-left: 500px ;
}
.lastitem{
    
    text-align: center;
    height: 10vh;
    color:white;
    background-color: black;
}