*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.page7 {
    text-align: center;
    background-color: #FFCC57;

}
.page7 nav{
    margin-top: 20px;
    padding-bottom: 10px;
}
.page7 nav a{
    color: black;
     margin-left: 50px;
     text-decoration: none;
     font-size: large;
}
.gally{ 
    background-color: #F8F6DE  ;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    padding-left: 200px;
}
.upper{
    background-color: #F8F6DE  ;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around; 
    
   
}
.box4,.box5,.box6{
     background-color:#F8F6DE ; 
       width: 100%;
       height: 20vh;
        margin-top: 40px;   
}

.box4 img{
       width: 500px;
       padding-left: 60px;
 }
.box5 img{
    width: 500px;
    padding-left: 60px;
}
.box6 img{
    width: 500px;
    padding-left: 60px;
}
.lower{
    background-color: #F8F6DE  ;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around; 
    
   
}
.box7,.box8,.box9{
    background-color:#F8F6DE ; 
      width: 100%;
      height: 20vh;
       margin-top: 70px;   
}
.box7 img{
    width: 500px;
    padding-left: 60px;
}
.box8 img{
 width: 500px;
 padding-left: 60px;
}
.box9 img{
 width: 500px;
 padding-left: 60px;
}
.lastitem{
    
    text-align: center;
    height: 10vh;
    color:white;
    background-color: black;
}
