*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headerfile {
    text-align: center;

}

.headerfile nav{
    margin-top: 20px;
      
}

.headerfile nav a{
   color: black;
    margin-left: 50px;
    text-decoration: none;
    font-size: large;
}
.next h1{
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
    margin-top: 30px;
}
.sml{
    color: #6B6B6B;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
.next p{
    color: #6B6B6B;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-left: 200px;
}
.next img{
    margin-left: 200px;
    margin-top: 20px;
}
.next{
width: 100%;
height: 100vh;
    background-color: #FEFCD6;
   
}
.unorderlist{
    font-family: 'Poppins', sans-serif;
    margin-left: 500px ;
}
.lastitem{
    
    text-align: center;
    height: 10vh;
    color:white;
    background-color: black;
}


