*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.page5 {
    text-align: center;

}
.page5 nav{
    margin-top: 20px;
}
.page5 nav a{
    color: black;
     margin-left: 50px;
     text-decoration: none;
     font-size: large;
}
.alpha h1{
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
    margin-top: 30px;
}
.big{
    color: #6B6B6B;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
.alpha p{
    color: #6B6B6B;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-left: 200px;
}
.alpha img{
    margin-left: 200px;
    margin-top: 20px;
}
.alpha{
width: 100%;
height: 100vh;
    background-color: #FEFCD6;
}
.unorderlist1{
    font-family: 'Poppins', sans-serif;
    margin-left: 500px ;
}
.lastitem{
    
    text-align: center;
    height: 10vh;
    color:white;
    background-color: black;
}