*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.ind {
    text-align: center;
    background-color: #FFCC57;

}
.ind nav{
    padding-top: 20px;
    padding-bottom: 10px;
}
.ind nav a{
    color: black;
     margin-left: 50px;
     text-decoration: none;
     font-size: large;
}
.oop{ 
    height: 78vh;
    background-color: #FEFCD6;
}
.oop h1{
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    margin-left: 150px;

}
.oop p{
    font-family: 'Poppins', sans-serif;
    margin-left: 150px;
}
.lastitem{
    
    text-align: center;
    height: 10vh;
    color:white;
    background-color: black;
}
