*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.linkf{
    text-decoration: none;
   
    
}

.page1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #FFCC57;
  
}
.ihalf{
    width: 50%;
    height: 100vh;
    background-color:#3B3B3B;
    position: relative;
    animation-name: rolli;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}
.jhalf{
    width: 50%;
    height: 100vh;
    background-color: #FFCC57;
    animation-name: rollj;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes rolli{
    from{width: 50%;
         height: 100vh;
         background-color: #3B3B3B;
              
    }
    to{
        width: 100%;
        height: 10.2vh;
        background-color: rgb(3, 2, 0);
    }
}
@keyframes rollj{
    from{
        width: 50%;
        height: 100vh;
        margin-right: 0px;
    }
    to{
        width: 100%;
        height: 80vh;
     
        margin-right: 400px;
    }
}

@keyframes animhead{
    from{
        padding-top: 350px;
        padding-left: 150px;
        font-size: 50px;
    }
    to{
        padding-top: 30px;
        padding-left: 120px;
        font-size: 20px;
    }
}

.mainheading{
    font-size: 50px;
    position:absolute;
    top: 400;    
}

.mainheader nav{
       width: 700px;
     display: flex;
     justify-content: space-around;
     /* margin-left: 10px; */
     background-color: #FFCC57;
     animation-name: lol;
     animation-duration: 2s;
     animation-delay: 1s;
     animation-fill-mode: forwards;

}
@keyframes lol{
    from{
     background-color: #FFCC57;
     width: 700px;
    }
    to{
       /* width: 800px; */
        background-color: rgb(3, 2, 0);
    }
}
@keyframes lol2{
    from{
     color: black;
    }
    to{
     color: white;
    }
}
.mainheader nav a{
    font-size: large;
        width: 400px;
       color: black;
      position: relative;
      padding: 30px;
      animation-name: lol2;
     animation-duration: 2s;
     animation-delay: 1s;
     animation-fill-mode: forwards;

  
}
.mainheading{
    color: white;
    padding-top: 350px;
    padding-left: 150px;
    animation-name: animhead;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}
.welcome{
    color:black;
    font-size: xx-large;
    padding-left: 250px;
    padding-top: 150px;
}     
.text{
   font-family: 'Poppins', sans-serif;
    padding-left: 100px;
    padding-top: 10px;
    font-size: 15px;
    animation-name: inc;
    animation-duration: 2s;
    animation-delay: 1s;
     animation-fill-mode: forwards;
}
@keyframes inc{
    from{
       /* font-size: 15; */
       margin-top: 0px;
    }
    to{
  /* font-size: 18px; */
  margin-top: 20px;
    }
}
.page2{
    width: 100%;
    height: 100vh;
    /* background-color:#FEFCD6; */
   background-color: #FFCC57;
}
.product{
   
    text-align: center;
    padding-top: 40px;
    font-size: x-large;
   
}

.product h1{
color: red;
}
.underline{
    background-color: red;
    width: 70px;
    height: 7px;
   margin-left: 720px ;
   margin-top: 10px;
}
.medicine{
    width: 100%;
    height: 50vh;
    background-color: #FFCC57;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;   
}

.box1,.box2,.box3{
 background-color:#F8F6DE ;
    width: 15%;
    height: 30vh;
    margin-top: 70px;    
}


@keyframes boxanim{
    from{
      background-blend-mode: none;
      color: black;
    }
    to{
      background-color: #25503D;
      color: white;
    }
}

@keyframes boxanim2{
    from{
      color: black;
    }
    to{
      color: white;
    }
}


.medicine .box1 img{
    margin-top: 40px;
    margin-left: 70px;
    
    
}
.medicine .box1 p{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.medicine .box1 h3{
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
}
.medicine .box1 a{
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    padding-top: 30px;
    text-decoration: none;
    color: blue;
}
.medicine .box2 img{
    margin-top: 40px;
    margin-left: 70px;
}
.medicine .box2 h3{
    margin-left: 18px;
    font-family: 'Poppins', sans-serif;
}
.medicine .box2 p{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.medicine .box2 a{
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    text-decoration: none;
    color: blue;
}
.medicine .box3 img{
    margin-top: 40px;
    margin-left: 70px;
}
.medicine .box3 h3{
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
}
.medicine .box3 p{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.medicine .box3 a{
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    text-decoration: none;
    color: blue;
}

.foot{
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    background-color: black;
   

}
.foot h2{
    padding-top: 30px;
}
.contact-no, a{
    color: white;
    text-decoration: none;
}
.googlemap{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
    height: 30vh;
    text-align: center;
}
.lastitem{
    
    text-align: center;
    height: 10vh;
    color:white;
    background-color: black;
}
.underline2{
    background-color: red;
    width: 70px;
    height: 7px;
   margin-left: 720px ;
   margin-top: 10px;
}
.keep{
    text-align: center;
    padding-top: 40px;
    font-size: x-large;
   
}
.keep a{color: red;
    font-size: xx-large;
    
}
.touch{
    
    width: 100%;
    height: 100vh;
}
box5:hover,box4:hover,.box3:hover,.box2:hover,.box1:hover{
  
    animation: boxanim;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    

   
}


   


   
